doctype html
html(lang="en")
  head
    title coffeegram
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block scripts
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")

  body(class="container")

    ul(class="nav")
      li(class="nav-item nav-pills")
        a(class="nav-link active" href="/") Coffeegram
      li(class="nav-item")
        a(class="nav-link active" href="/coffeegrams/new") Upload
      li(class="nav-item")
        a(class="nav-link active" href="/about") About
      if currentUser
        li(class="nav-item")
          a(class="nav-link active" href=`/users/${currentUser.username}`) Hello, #{currentUser.name}
      else
        li(class="nav-item")
          a(class="nav-link active" href="/sessions/new") Login
          
    if flash.success
      div.alert.alert-success(role="alert") #{flash.success}
    if flash.loggedin
      div.alert.alert-success(role="alert") #{flash.loggedin}
    if error
      div.alert.alert-danger(role="alert") #{error}

    block content
