doctype html
html(lang="en")
  head
    include head.pug

  body.container

    div.container.px-0.my-5
      ul.nav.d-flex.flex-row.justify-content-left
        li.nav-item.nav-pills
          a.nav-link.active(href="/") Coffeegram
        li.nav-item
          a.nav-link.active(href="/coffeegrams/new") Upload
        if currentUser
          form.form-inline.ml-auto
            input.form-control(type="text" placeholder="Search")
            button.btn.btn-primary(type="submit")
              i.fa.fa-search
          li.nav-item.nav-pills.ml-auto
            a.nav-link.active(href=`/users/${currentUser.username}`) Hello, #{currentUser.name}
        else
          li.nav-item.nav-pills.ml-auto
            a.nav-link.active(href="/sessions/new") Login
            
      if flash.success
        div.alert.alert-success(role="alert") #{flash.success}
      if flash.error
        div.alert.alert-danger(role="alert") #{flash.error}
      if error
        div.alert.alert-danger(role="alert") #{error}

    block content

    div.container.px-0.mb-5
      div.bg-primary.text-white.rounded.p-3.text-center
        h4 Caffeinate your Slack channel with CoffeeBot!
        p.m-0.lead
          a.text-white(href="#") Download the code

    include scripts.pug
