doctype html
html(lang="en")
  head
    title coffeegram
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block scripts
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")

  body.container

    div.container.px-0.mb-4.mt-4
      ul.nav.d-flex.flex-row.justify-content-left
        li(class="nav-item nav-pills")
          a(class="nav-link active" href="/") Coffeegram
        li(class="nav-item")
          a(class="nav-link active" href="/coffeegrams/new") Upload
        if currentUser
          li.nav-item.nav-pills.ml-auto
            a(class="nav-link active" href=`/users/${currentUser.username}`) Hello, #{currentUser.name}
        else
          li.nav-item.nav-pills.ml-auto
            a(class="nav-link active" href="/sessions/new") Login
            
      if flash.success
        div.alert.alert-success(role="alert") #{flash.success}
      if flash.error
        div.alert.alert-danger(role="alert") #{flash.error}
      if error
        div.alert.alert-danger(role="alert") #{error}

    block content
