extends layout.pug

mixin form-field(field, title, errors)
  - var error = errors && errors[field]
  .form-group(class=(error ? 'has-danger' : ''))
    label.form-control-label(for=field) #{title}
    block
    if error
      div.form-control-feedback #{error.message}

block content
  div.text-center
    h1 Share your new opus with the world
    h2.lead And make up for all those awkward stares
    
  div.container.p-0.mb-5
    form(action="/coffeegrams" data-coffeegram="new-coffeegram" method="post" enctype="multipart/form-data")

      +form-field('image', 'Upload your coffeegram', errors)
        input.form-control(name="image" type="file" accept="image/jpeg" required)
      
      +form-field('description', 'Describe your coffeegram', errors)
        textarea.form-control(name="description" placeholder="Latte ipsum dolor sit awhile" autofocus) #{coffeeParams ? coffeeParams.description : ""}

      +form-field('type', 'Classify your coffee', errors)
        select.form-control(name="type")
          - var coffeeTypes = ["Cappuccino", "Cortado", "Espresso", "Flat White", "Latte", "Macchiato", "Other"];
          each type in coffeeTypes
            option(selected=(coffeeParams && coffeeParams.type === type)) #{type}

      +form-field('shop', 'Location', errors)
        input.form-control(name="shop" type="text" value=(coffeeParams ? coffeeParams.shop : "") placeholder="Soul Caffeine")
      
      input.btn.btn-primary(type="submit" name="submit" value="Submit")
