extends layout.pug

block content

  div.container.d-flex.flex-row.align-items-center.px-0.mb-5
    div.col-3.pl-0
      img.img-fluid.rounded-circle(src=`${helpers.gravatar(user.email)}`)
    div.col-9.pr-0.text-center
      ul.list-unstyled.mb-0
        li
          h1 #{user.name} | #{user.username}
        if user.bio && currentUser.id === user.id
          li
            h3.lead
              | #{user.bio}
              = ' '
              a.btn.btn-primary(href="#updateBio" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="updateBio")
                i.fa.fa-pencil
          div.collapse(id="updateBio")
            form(action=`/users/${user.username}` method="post")
              div(class="form-group")
                input(class="form-control" type= "text" name="bio" placeholder="Update your bio" autofocus)
              button(type="submit" class="btn btn-primary") Update
        else if user.bio
          li
            h3.lead #{user.bio}
        else if currentUser.id === user.id
          li
            form(action=`/users/${user.username}` method="post")
              div(class="form-group")
                input(class="form-control" type= "text" name="bio" placeholder="Why don't you introduce yourself quickly?" autofocus)
              button(type="submit" class="btn btn-primary") Post your bio
        li
          small Joined #{helpers.momentFrom(user.createdAt)}

  include feed.pug
